{% extends 'about_base.html' %}
{% load static %}
{% block title%}About{% endblock %}

{% block content %}


<div class="mx-2 px-2 md:mx-20 px-6">
    {{ about.title | safe }}
    <p class="font-bold text-center text-lg py-2">MEES is the student organisation for the Master in Energy, Environment
        and
        Society
        at UiS</p>

    <p class="py-2">MEES is still young in the family of the university’s student organizations. Our organization was
        established
        in
        September 2017 and represents the students of the new Master in Energy, Environment and Society. Our program and
        the organization are characterized by their diversity,
        representing over
        twenty different nationalities from around the globe. We use this diversity to learn and bring about to others a
        highly
        distinctive, all-round perspective on energy, sustainability and environment. </p>
    <p class="py-2">Our organization has these major aims:</p>
    <ol>
        <li class="p-2 px-2">- To be a link of cooperation between students of the program
            and the teaching staff;</li>
        <li class="p-2 px-2">- To collaborate with other student organizations and other network bodies at the
            university
            in
            order to
            reach
            out to a wider academic community;</li>
        <li class="p-2 px-2">- To break stigmas about future energy options, sustainable development, and future
            society.
        </li>
    </ol>

    <p class="py-2">Our primary focus is on academic events, such as public talks, debates and lecture series. As
        master’s
        students, we are focused on expanding our knowledge and understanding on the subject through our own initiative.
        We also want to make the
        learning aspect exciting and entertaining by bringing it out of the classroom environment and through input from
        external experts and organizations. We also organize social events, such as get-together dinners, cabin trips,
        and other activities.</p>
    <p class="py-2">If you are interested in shaping the debate of the future and want to know what we are up to next,
        contact us today.</p>
</div>


{% endblock %}