{% extends 'data_base.html' %}
{% block title%}MEES | UIS | DATA{% endblock %}




{% block content %}

<!-- <div class="flex pb-2">
    {{ api }}
</div>
<div class="flex pb-8">
    <ul>
        <strong>
            <li>{{ api.name }}</li>
        </strong>
        <li>Lat: {{ api.coord.lat }} </li>
        <li>Lon: {{ api.coord.lat }} </li>
        <li>Sky: {{ api.weather.0.main }} </li>
        <li>Description: {{ api.weather.0.description }}</li>
        <li>Temp: {{ api.main.temp }}</li>
        <li>Wind Speed: {{ api.wind.speed }}</li>
        <li>Wind Direction: {{ api.wind.deg }}</li>

    </ul>
</div> -->


{% endblock %}
